<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
  <style>
    .error-message {
      color: red;
      font-size: 0.8em;
    }
    .form-control.ng-invalid.ng-touched,
    ng-select.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  </style>
</head>
<body class="card">
  <h2>Edit Product</h2>
  <form class="card-body" [formGroup]="editForm" (ngSubmit)="updateProduct()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" class="form-control">
      <div *ngIf="editForm.get('name')?.touched && editForm.get('name')?.invalid" class="error-message">
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" formControlName="price" class="form-control">
      <div *ngIf="editForm.get('price')?.touched && editForm.get('price')?.invalid" class="error-message">
        Price is required.
      </div>
    </div>
    <div class="form-group">
      <label for="store">Store:</label>
      <select id="store" formControlName="storeId" class="form-control">
        <option value="">Select Store</option>
        <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
      </select>
      <div *ngIf="editForm.get('storeId')?.touched && editForm.get('storeId')?.invalid" class="error-message">
        Store selection is required.
      </div>
    </div>
    <div class="form-group">
      <label for="colors">Colors:</label>
      <select
          formControlName="colorId"
          id="color"
          multiple
          class="form-control">
          <option *ngFor="let color of colors" [ngValue]="color.id">{{ color.name }}</option>
        </select>
      <!-- <ng-select 
        style="height: 35px; border-radius: 4px; border: 1px solid #ced4da; padding: 5px 15px;" 
        [items]="colors" 
        [multiple]="true" 
        bindLabel="name" 
        [closeOnSelect]="false" 
        bindValue="id"
        formControlName="colorId">
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{index}}" type="checkbox" /> {{item.name}}
        </ng-template>
      </ng-select> -->
      <div *ngIf="editForm.get('colorId')?.touched && editForm.get('colorId')?.invalid" class="error-message">
        At least one color must be selected.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</body>
</html>
