body {
    font-family: Arial, sans-serif;
    background: #242948;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
}

.register-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #A98F76;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

h2 {
    text-align: center;
    color: #fff;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}
.error-message {
  color: red;
  font-size: 0.8em;
}

.input-group input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    background: #528f8b;
}

.input-group button:hover:enabled {
    background: #96A4D3;
    box-shadow: 0 0 8px 2px yellow; /* Adjust the glow effect here */
}