.bg {
    background-color: #1d1d1d;
}

nav a {
    margin: 10px 0px;
}

@media (max-width: 600px) {
    nav {
        position: fixed;
        flex-direction: column;
        min-width: 12vh;
    }

}

@media (min-width: 600px) {
    nav {
        position: fixed;
        min-width: 100%;
    }

}