 <nav class="navbar navbar-expand-lg navbar-light bg">
  <div id="navbarNav" class="dropdown-content" >
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link " style="color: aliceblue;" [routerLink]="['/stores']">Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" [routerLink]="['/colors']">Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" [routerLink]="['/customers']">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" [routerLink]="['/users']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" [routerLink]="['/userslist']">ListUsers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>
  </nav>