
<form action="">
    <body>
        <div style="margin-left: 20%;" class="container-lg">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Customer <b>Details</b></h2>
                            </div>
                            <div>
                                <a href="/customers/create" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add
                                    New</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th (click)="groupByColumn('firstName')">
                                    First Name
                                    <span *ngIf="sortColumn === 'firstName'">
                                        <i [ngClass]="sortOrder === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                                    </span>
                                </th>
                                <th (click)="groupByColumn('lastName')">
                                    Last Name
                                    <span *ngIf="sortColumn === 'lastName'">
                                        <i [ngClass]="sortOrder === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                                    </span>
                                </th>
                                <th (click)="groupByColumn('address')">
                                    Address
                                    <span *ngIf="sortColumn === 'address'">
                                        <i [ngClass]="sortOrder === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                                    </span>
                                </th>
                                <th (click)="groupByColumn('phone')">
                                    Phone
                                    <span *ngIf="sortColumn === 'phone'">
                                        <i [ngClass]="sortOrder === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                                    </span>
                                </th>
                                <th (click)="groupByColumn('email')">
                                    Email
                                    <span *ngIf="sortColumn === 'email'">
                                        <i [ngClass]="sortOrder === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                                    </span>
                                </th>
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 5, currentPage: p }">
                                <td>{{ customer.firstName }}</td>
                                <td>{{ customer.lastName }}</td>
                                <td>{{ customer.address }}</td>
                                <td>{{ customer.phone }}</td>
                                <td>{{ customer.email }}</td>
                                <td>
                                    <button (click)="deleteCustomer(customer.id)" style="margin-right: 5px;" class="btn btn-danger">Delete</button>
                                    <button [routerLink]="['/customers/edit/', customer.id]"
                                        class="btn btn-success">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </body>
</form>